{%- assign current_lang = include.lang | default: page.lang | default: site.i18n.default_lang | default: site.lang | default: "en" -%}
{%- assign format_style = include.format | default: "short" -%}
{%- assign date_value = include.date -%}
{%- assign day = date_value | date: "%-d" -%}
{%- assign year = date_value | date: "%Y" -%}
{%- assign month_number = date_value | date: "%-m" -%}
{%- assign month_index = month_number | minus: 1 -%}
{%- assign months_en = "Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec" | split: "|" -%}
{%- assign months_es = "ene.|feb.|mar.|abr.|may.|jun.|jul.|ago.|sept.|oct.|nov.|dic." | split: "|" -%}
{%- assign month_label = months_en[month_index] -%}
{%- if current_lang == 'es' -%}
  {%- assign month_label = months_es[month_index] -%}
{%- endif -%}
{%- if format_style == "short_no_year" -%}
  {{- month_label }} {{- " " -}}{{- day -}}
{%- else -%}
  {{- month_label }} {{- " " -}}{{- day -}}{{- ", " -}}{{- year -}}
{%- endif -%}
