{%- assign lang = include.lang | default: page.lang | default: site.i18n.default_lang | default: site.lang | default: "en" -%}
{%- assign platform_title = site.platform.name | default: site.title -%}
{%- assign platform_company = site.platform.company_name | default: site.author | default: platform_title -%}
{%- capture cart_tip_label -%}{% include t.html key="runtime.cart.tip_label" lang=lang platform=platform_company %}{%- endcapture -%}
{%- capture cart_tip_copy -%}{% include t.html key="runtime.cart.tip_copy" lang=lang platform=platform_company %}{%- endcapture -%}
{
  "cart": {
    "cartButtonEmpty": {{ site.data.i18n[lang].runtime.cart.cart_button_empty | default: site.data.i18n.en.runtime.cart.cart_button_empty | jsonify }},
    "cartButtonSummaryOne": {{ site.data.i18n[lang].runtime.cart.cart_button_summary_one | default: site.data.i18n.en.runtime.cart.cart_button_summary_one | jsonify }},
    "cartButtonSummaryOther": {{ site.data.i18n[lang].runtime.cart.cart_button_summary_other | default: site.data.i18n.en.runtime.cart.cart_button_summary_other | jsonify }},
    "untitledItem": {{ site.data.i18n[lang].runtime.cart.untitled_item | default: site.data.i18n.en.runtime.cart.untitled_item | jsonify }},
    "quantity": {{ site.data.i18n[lang].runtime.cart.quantity | default: site.data.i18n.en.runtime.cart.quantity | jsonify }},
    "addOnQuantityFor": {{ site.data.i18n[lang].runtime.cart.add_on_quantity_for | default: site.data.i18n.en.runtime.cart.add_on_quantity_for | jsonify }},
    "remove": {{ site.data.i18n[lang].runtime.cart.remove | default: site.data.i18n.en.runtime.cart.remove | jsonify }},
    "empty": {{ site.data.i18n[lang].runtime.cart.empty | default: site.data.i18n.en.runtime.cart.empty | jsonify }},
    "contact": {{ site.data.i18n[lang].runtime.cart.contact | default: site.data.i18n.en.runtime.cart.contact | jsonify }},
    "emailAddress": {{ site.data.i18n[lang].runtime.cart.email_address | default: site.data.i18n.en.runtime.cart.email_address | jsonify }},
    "shippingAddress": {{ site.data.i18n[lang].runtime.cart.shipping_address | default: site.data.i18n.en.runtime.cart.shipping_address | jsonify }},
    "fullName": {{ site.data.i18n[lang].runtime.cart.full_name | default: site.data.i18n.en.runtime.cart.full_name | jsonify }},
    "addressLine1": {{ site.data.i18n[lang].runtime.cart.address_line_1 | default: site.data.i18n.en.runtime.cart.address_line_1 | jsonify }},
    "addressLine2": {{ site.data.i18n[lang].runtime.cart.address_line_2 | default: site.data.i18n.en.runtime.cart.address_line_2 | jsonify }},
    "city": {{ site.data.i18n[lang].runtime.cart.city | default: site.data.i18n.en.runtime.cart.city | jsonify }},
    "stateProvince": {{ site.data.i18n[lang].runtime.cart.state_province | default: site.data.i18n.en.runtime.cart.state_province | jsonify }},
    "stateProvinceOptional": {{ site.data.i18n[lang].runtime.cart.state_province_optional | default: site.data.i18n.en.runtime.cart.state_province_optional | jsonify }},
    "postalCode": {{ site.data.i18n[lang].runtime.cart.postal_code | default: site.data.i18n.en.runtime.cart.postal_code | jsonify }},
    "country": {{ site.data.i18n[lang].runtime.cart.country | default: site.data.i18n.en.runtime.cart.country | jsonify }},
    "taxLocation": {{ site.data.i18n[lang].runtime.cart.tax_location | default: site.data.i18n.en.runtime.cart.tax_location | jsonify }},
    "taxLocationNote": {{ site.data.i18n[lang].runtime.cart.tax_location_note | default: site.data.i18n.en.runtime.cart.tax_location_note | jsonify }},
    "taxLocationNoteNm": {{ site.data.i18n[lang].runtime.cart.tax_location_note_nm | default: site.data.i18n.en.runtime.cart.tax_location_note_nm | jsonify }},
    "taxLocationRequired": {{ site.data.i18n[lang].runtime.cart.tax_location_required | default: site.data.i18n.en.runtime.cart.tax_location_required | jsonify }},
    "taxLocationRequiredNm": {{ site.data.i18n[lang].runtime.cart.tax_location_required_nm | default: site.data.i18n.en.runtime.cart.tax_location_required_nm | jsonify }},
    "paymentMethod": {{ site.data.i18n[lang].runtime.cart.payment_method | default: site.data.i18n.en.runtime.cart.payment_method | jsonify }},
    "paymentConsent": {{ site.data.i18n[lang].runtime.cart.payment_consent | default: site.data.i18n.en.runtime.cart.payment_consent | jsonify }},
    "estimatedTotal": {{ site.data.i18n[lang].runtime.cart.estimated_total | default: site.data.i18n.en.runtime.cart.estimated_total | jsonify }},
    "tipLabel": {{ cart_tip_label | strip | jsonify }},
    "tipCopy": {{ cart_tip_copy | strip | jsonify }},
    "tipWithPercent": {{ site.data.i18n[lang].runtime.cart.tip_with_percent | default: site.data.i18n.en.runtime.cart.tip_with_percent | jsonify }},
    "subtotal": {{ site.data.i18n[lang].runtime.cart.subtotal | default: site.data.i18n.en.runtime.cart.subtotal | jsonify }},
    "discount": {{ site.data.i18n[lang].runtime.cart.discount | default: site.data.i18n.en.runtime.cart.discount | jsonify }},
    "discountWithCode": {{ site.data.i18n[lang].runtime.cart.discount_with_code | default: site.data.i18n.en.runtime.cart.discount_with_code | jsonify }},
    "couponCode": {{ site.data.i18n[lang].runtime.cart.coupon_code | default: site.data.i18n.en.runtime.cart.coupon_code | jsonify }},
    "applyCoupon": {{ site.data.i18n[lang].runtime.cart.apply_coupon | default: site.data.i18n.en.runtime.cart.apply_coupon | jsonify }},
    "removeCoupon": {{ site.data.i18n[lang].runtime.cart.remove_coupon | default: site.data.i18n.en.runtime.cart.remove_coupon | jsonify }},
    "couponApplied": {{ site.data.i18n[lang].runtime.cart.coupon_applied | default: site.data.i18n.en.runtime.cart.coupon_applied | jsonify }},
    "couponRequired": {{ site.data.i18n[lang].runtime.cart.coupon_required | default: site.data.i18n.en.runtime.cart.coupon_required | jsonify }},
    "couponInvalid": {{ site.data.i18n[lang].runtime.cart.coupon_invalid | default: site.data.i18n.en.runtime.cart.coupon_invalid | jsonify }},
    "couponNotEligible": {{ site.data.i18n[lang].runtime.cart.coupon_not_eligible | default: site.data.i18n.en.runtime.cart.coupon_not_eligible | jsonify }},
    "couponApplyError": {{ site.data.i18n[lang].runtime.cart.coupon_apply_error | default: site.data.i18n.en.runtime.cart.coupon_apply_error | jsonify }},
    "salesTaxLabel": {{ site.data.i18n[lang].runtime.cart.sales_tax_label | default: site.data.i18n.en.runtime.cart.sales_tax_label | jsonify }},
    "taxLabel": {{ site.data.i18n[lang].runtime.cart.tax_label | default: site.data.i18n.en.runtime.cart.tax_label | jsonify }},
    "salesTaxPendingLabel": {{ site.data.i18n[lang].runtime.cart.sales_tax_pending_label | default: site.data.i18n.en.runtime.cart.sales_tax_pending_label | jsonify }},
    "taxLabelWithRate": {{ site.data.i18n[lang].runtime.cart.tax_label_with_rate | default: site.data.i18n.en.runtime.cart.tax_label_with_rate | jsonify }},
    "shipping": {{ site.data.i18n[lang].runtime.cart.shipping | default: site.data.i18n.en.runtime.cart.shipping | jsonify }},
    "shippingEstimate": {{ site.data.i18n[lang].runtime.cart.shipping_estimate | default: site.data.i18n.en.runtime.cart.shipping_estimate | jsonify }},
    "shippingEstimatePostalCode": {{ site.data.i18n[lang].runtime.cart.shipping_estimate_postal_code | default: site.data.i18n.en.runtime.cart.shipping_estimate_postal_code | jsonify }},
    "shippingEstimatePostalHelp": {{ site.data.i18n[lang].runtime.cart.shipping_estimate_postal_help | default: site.data.i18n.en.runtime.cart.shipping_estimate_postal_help | jsonify }},
    "shippingCalculating": {{ site.data.i18n[lang].runtime.cart.shipping_calculating | default: site.data.i18n.en.runtime.cart.shipping_calculating | jsonify }},
    "shippingOption": {{ site.data.i18n[lang].runtime.cart.shipping_option | default: site.data.i18n.en.runtime.cart.shipping_option | jsonify }},
    "shippingOptionStandard": {{ site.data.i18n[lang].runtime.cart.shipping_option_standard | default: site.data.i18n.en.runtime.cart.shipping_option_standard | jsonify }},
    "shippingOptionSignatureRequired": {{ site.data.i18n[lang].runtime.cart.shipping_option_signature_required | default: site.data.i18n.en.runtime.cart.shipping_option_signature_required | jsonify }},
    "shippingOptionAdultSignatureRequired": {{ site.data.i18n[lang].runtime.cart.shipping_option_adult_signature_required | default: site.data.i18n.en.runtime.cart.shipping_option_adult_signature_required | jsonify }},
    "platformAddOns": {{ site.data.i18n[lang].runtime.cart.platform_add_ons | default: site.data.i18n.en.runtime.cart.platform_add_ons | jsonify }},
    "platformAddOnsNote": {{ site.data.i18n[lang].runtime.cart.platform_add_ons_note | default: site.data.i18n.en.runtime.cart.platform_add_ons_note | jsonify }},
    "addOnVariant": {{ site.data.i18n[lang].runtime.cart.add_on_variant | default: site.data.i18n.en.runtime.cart.add_on_variant | jsonify }},
    "addOnLowStock": {{ site.data.i18n[lang].runtime.cart.add_on_low_stock | default: site.data.i18n.en.runtime.cart.add_on_low_stock | jsonify }},
    "addOnStock": {{ site.data.i18n[lang].runtime.cart.add_on_stock | default: site.data.i18n.en.runtime.cart.add_on_stock | jsonify }},
    "addToCart": {{ site.data.i18n[lang].runtime.cart.add_to_cart | default: site.data.i18n.en.runtime.cart.add_to_cart | jsonify }},
    "removeAddOn": {{ site.data.i18n[lang].runtime.cart.remove_add_on | default: site.data.i18n.en.runtime.cart.remove_add_on | jsonify }},
    "backToCart": {{ site.data.i18n[lang].runtime.cart.back_to_cart | default: site.data.i18n.en.runtime.cart.back_to_cart | jsonify }},
    "keepBrowsing": {{ site.data.i18n[lang].runtime.cart.keep_browsing | default: site.data.i18n.en.runtime.cart.keep_browsing | jsonify }},
    "checkout": {{ site.data.i18n[lang].runtime.cart.checkout | default: site.data.i18n.en.runtime.cart.checkout | jsonify }},
    "nextStep": {{ site.data.i18n[lang].runtime.cart.next_step | default: site.data.i18n.en.runtime.cart.next_step | jsonify }},
    "hostedCheckoutNote": {{ site.data.i18n[lang].runtime.cart.hosted_checkout_note | default: site.data.i18n.en.runtime.cart.hosted_checkout_note | jsonify }},
    "orderTotal": {{ site.data.i18n[lang].runtime.cart.order_total | default: site.data.i18n.en.runtime.cart.order_total | jsonify }},
    "orderSummary": {{ site.data.i18n[lang].runtime.cart.order_summary | default: site.data.i18n.en.runtime.cart.order_summary | jsonify }},
    "storePaymentConsent": {{ site.data.i18n[lang].runtime.cart.store_payment_consent | default: site.data.i18n.en.runtime.cart.store_payment_consent | jsonify }},
    "decreaseQuantity": {{ site.data.i18n[lang].runtime.cart.decrease_quantity | default: site.data.i18n.en.runtime.cart.decrease_quantity | jsonify }},
    "increaseQuantity": {{ site.data.i18n[lang].runtime.cart.increase_quantity | default: site.data.i18n.en.runtime.cart.increase_quantity | jsonify }},
    "continueToPayment": {{ site.data.i18n[lang].runtime.cart.continue_to_payment | default: site.data.i18n.en.runtime.cart.continue_to_payment | jsonify }},
    "processingPayment": {{ site.data.i18n[lang].runtime.cart.processing_payment | default: site.data.i18n.en.runtime.cart.processing_payment | jsonify }},
    "finishingOrder": {{ site.data.i18n[lang].runtime.cart.finishing_order | default: site.data.i18n.en.runtime.cart.finishing_order | jsonify }},
    "payNow": {{ site.data.i18n[lang].runtime.cart.pay_now | default: site.data.i18n.en.runtime.cart.pay_now | jsonify }},
    "loadingSecurePayment": {{ site.data.i18n[lang].runtime.cart.loading_secure_payment | default: site.data.i18n.en.runtime.cart.loading_secure_payment | jsonify }},
    "paymentProcessingStill": {{ site.data.i18n[lang].runtime.cart.payment_processing_still | default: site.data.i18n.en.runtime.cart.payment_processing_still | jsonify }},
    "savePaymentError": {{ site.data.i18n[lang].runtime.cart.save_payment_error | default: site.data.i18n.en.runtime.cart.save_payment_error | jsonify }},
    "paymentConfirmError": {{ site.data.i18n[lang].runtime.cart.payment_confirm_error | default: site.data.i18n.en.runtime.cart.payment_confirm_error | jsonify }},
    "secureCheckoutNotReady": {{ site.data.i18n[lang].runtime.cart.secure_checkout_not_ready | default: site.data.i18n.en.runtime.cart.secure_checkout_not_ready | jsonify }},
    "secureCheckoutMountError": {{ site.data.i18n[lang].runtime.cart.secure_checkout_mount_error | default: site.data.i18n.en.runtime.cart.secure_checkout_mount_error | jsonify }},
    "firstPartyDisabled": {{ site.data.i18n[lang].runtime.cart.first_party_disabled | default: site.data.i18n.en.runtime.cart.first_party_disabled | jsonify }},
    "startOrderError": {{ site.data.i18n[lang].runtime.cart.start_order_error | default: site.data.i18n.en.runtime.cart.start_order_error | jsonify }},
    "emailRequired": {{ site.data.i18n[lang].runtime.cart.email_required | default: site.data.i18n.en.runtime.cart.email_required | jsonify }},
    "emailInvalid": {{ site.data.i18n[lang].runtime.cart.email_invalid | default: site.data.i18n.en.runtime.cart.email_invalid | jsonify }},
    "shippingAddressRequired": {{ site.data.i18n[lang].runtime.cart.shipping_address_required | default: site.data.i18n.en.runtime.cart.shipping_address_required | jsonify }},
    "closeCart": {{ site.data.i18n[lang].runtime.cart.close_cart | default: site.data.i18n.en.runtime.cart.close_cart | jsonify }},
    "yourCart": {{ site.data.i18n[lang].runtime.cart.your_cart | default: site.data.i18n.en.runtime.cart.your_cart | jsonify }},
    "checkoutTitle": {{ site.data.i18n[lang].runtime.cart.checkout_title | default: site.data.i18n.en.runtime.cart.checkout_title | jsonify }}
  },
  "orderLookup": {{ site.data.i18n[lang].runtime.order_lookup | default: site.data.i18n.en.runtime.order_lookup | jsonify }},
  "orderSuccess": {{ site.data.i18n[lang].runtime.order_success | default: site.data.i18n.en.runtime.order_success | jsonify }},
  "admin": {
    "about": {{ site.data.i18n[lang].admin.settings_help_label | default: site.data.i18n.en.admin.settings_help_label | jsonify }},
    "adminSection": {{ site.data.i18n[lang].admin.admin_section_label | default: site.data.i18n.en.admin.admin_section_label | jsonify }},
    "settingsSection": {{ site.data.i18n[lang].admin.settings_section_label | default: site.data.i18n.en.admin.settings_section_label | jsonify }},
    "uploadLogo": {{ site.data.i18n[lang].admin.upload_logo | default: site.data.i18n.en.admin.upload_logo | jsonify }},
    "uploadImage": {{ site.data.i18n[lang].admin.upload_image | default: site.data.i18n.en.admin.upload_image | jsonify }},
    "logoUploaded": {{ site.data.i18n[lang].admin.logo_uploaded | default: site.data.i18n.en.admin.logo_uploaded | jsonify }},
    "imageUploaded": {{ site.data.i18n[lang].admin.image_uploaded | default: site.data.i18n.en.admin.image_uploaded | jsonify }},
    "logoTypeError": {{ site.data.i18n[lang].admin.logo_type_error | default: site.data.i18n.en.admin.logo_type_error | jsonify }},
    "imageTypeError": {{ site.data.i18n[lang].admin.image_type_error | default: site.data.i18n.en.admin.image_type_error | jsonify }},
    "logoSizeError": {{ site.data.i18n[lang].admin.logo_size_error | default: site.data.i18n.en.admin.logo_size_error | jsonify }},
    "imageSizeError": {{ site.data.i18n[lang].admin.image_size_error | default: site.data.i18n.en.admin.image_size_error | jsonify }},
    "noFileChosen": {{ site.data.i18n[lang].admin.no_file_chosen | default: site.data.i18n.en.admin.no_file_chosen | jsonify }},
    "noImageSelected": {{ site.data.i18n[lang].admin.no_image_selected | default: site.data.i18n.en.admin.no_image_selected | jsonify }}
  }
}
